@import url(//db.onlinewebfonts.com/c/548e77e130ea884c764acabe1ba1ad63?family=0Arame);

/*#myname path:nth-child(2){
    stroke-dasharray: 230.3999786376953;
    stroke-dashoffset: 230.3999786376953;
}
#myname path:nth-child(3){
    stroke-dasharray: 338.4255676269531;
    stroke-dashoffset: 338.4255676269531;
}
#myname path:nth-child(4){
    stroke-dasharray: 364.8000183105469;
    stroke-dashoffset: 364.8000183105469;
}
#myname path:nth-child(5){
    stroke-dasharray: 414.76727294921875;
    stroke-dashoffset: 414.76727294921875;
}
#myname path:nth-child(6){
    stroke-dasharray: 338.42559814453125;
    stroke-dashoffset: 338.42559814453125;
}
#myname path:nth-child(7){
    stroke-dasharray: 384.42816162109375;
    stroke-dashoffset: 384.42816162109375;
}
#myname path:nth-child(8){
    stroke-dasharray: 341.69854736328125;
    stroke-dashoffset: 341.69854736328125;
}
#myname path:nth-child(9){
    stroke-dasharray: 338.4256591796875;
    stroke-dashoffset: 338.4256591796875;
}
#myname path:nth-child(10){
    stroke-dasharray: 384.4281311035156;
    stroke-dashoffset: 384.4281311035156;
}
#myname path:nth-child(11){
    stroke-dasharray: 364.66650390625;
    stroke-dashoffset: 364.66650390625;
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}*/

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.col_border {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.text {
    white-space: nowrap;
    color: white;
    font-size: 38px;
    font-family: "0Arame";
    display: inline-block;
}
.line {
    opacity: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }