.col_border {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.text {
    white-space: nowrap;
    font-size: 38px;
    display: inline-block;
}
.line {
    opacity: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }